* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
  padding: 25px;
}

.header,
.footer {
  background: #add8e6;
}

.heading {
  text-transform: uppercase;
  text-align: center;
  color: #2e39f9;
  font-size: 40px;
}

.main {
  overflow: hidden;
  background: url(img/bg.png), url(img/left-bg.png);
  background-repeat: repeat-y, repeat-y;
  background-position: top right, top left;
  background-size: 100px, 320px;
}

.left-side {
  width: 320px;
  float: left;
  padding: 25px 15px;

}

.left-side-bg {
  background: #f0e68c;
  width: 320px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}


.nav li {
  list-style-position: inside;
  margin-bottom: 10px;
}

.subcaption {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 25px;
}

.content {
  padding: 25px 15px;
  overflow: hidden;
}

.caption {
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.image {
  float: left;
  margin: 0 15px 15px 0;
}

.text {
  margin-bottom: 15px;
}

.footer {
  clear: both;
  padding: 40px;
}

@media (max-width: 768px) {
  .heading {
    font-size: 30px;
  }

  .main {
    background: none;
  }

  .left-side {
    /* width: 100%; */
    float: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #f0e68c;
  }

  .left-side-bg {
    display: none;
  }

  .content {
    padding: 20px 10px;
  }

  .caption {
    font-size: 30px;
  }

  .image {
    float: none;
    margin: 0;
    /* width: 100%; */
  }
}

/* 5.1+ */
.colors {
  overflow: hidden;
  background: url(img/bg-violet.png), url(img/bg-blue-red.png);
  background-position: right top, 20% top;
  background-repeat: repeat-y, repeat-y;
  font-size: 22px;

}

.balls {
  overflow: hidden;
  background: url(img/balls-right.png),
    url(img/balls-right.png),
    url(img/balls-left.png),
    url(img/balls-left.png),
    url(img/ball.png),
    url(img/ball.png);
  background-position: right top, right bottom, 20% top, 20% bottom, left top, left bottom;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
}

.left {
  width: 20%;
  float: left;
}

.center {
  margin: 0 200px 0 20%;
}

.right {
  width: 200px;
  float: right;
}

/* ramka */
.left-bg {
  background: url(img/ramka-left.png) repeat-y top left;
}

.right-bg {
  background: url(img/ramka-right.png) repeat-y top right;
}

.top {
  background: url(img/ramka-top.png) repeat-x top left;
}

.bottom {
  background: url(img/ramka-botom.png) repeat-x bottom left;
}

.top-left {
  background: url(img/ramka-top-left.png) no-repeat top left;
}

.bottom-left {
  background: url(img/ramka-bottom-left.png) no-repeat bottom left;
}

.top-right {
  background: url(img/ramka-top-right.png) no-repeat top right;
}

.bottom-right {
  background: url(img/ramka-bottom-right.png) no-repeat bottom right;
}

.frame-content {
  padding: 150px;
  text-align: center;
}